<div class="background"></div>
<div class="foreground">
	<div class="logo">
		<h1><%= label %></h1>
	</div>
	
	<div class="text">
		<% if (!image) { %><%= text %><% } %>
	</div>
	<% if (image) { %>
	<div class="image">
		<img src="<%= path+image.file %>">
	</div>
	<% } %>
	<div class="bottom-logo">
		<div class="left">
			<span class="tags">@hdzukunft #ldnw16 #Zukunftsbaustelle</span>
		</div>
		<div class="right">
			<img src="images/haus_der_zukunft_logo.png">
			<img src="images/lndw.jpg">
			<img src="images/hybrid_letterbox_logo.png">
		</div>
	</div>
</div>